.Notifications {
  position: relative;
  border: 3px dotted #e1003c;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  width: 25%;
  float: right;
  margin-top: 25px;
}

li[data-priority="default"] {
  color: blue;
}

li[data-priority="urgent"] {
  color: rgb(233, 67, 67);
}

ul {
  padding-left: 20px;
  list-style: square;
}

.Notifications p {
  margin: 0px;
}

.Notifications button {
  position: absolute;
  cursor: pointer;
  right: calc(0% - 445px);
  top: calc(0% - 445px);
  background: transparent;
  transform: scale(0.012);
  -webkit-transform: scale(0.012);
  -moz-transform: scale(0.012);
  -ms-transform: scale(0.012);
  -o-transform: scale(0.012);
}

.notification-title {
  float: right;
  position: absolute;
  right: 15px;
  top: 2px;
}
